body {
color: red;
margin: 0px;
font-family: "Playwrite CU", system-ui;
background: black;

}



header {
border-bottom: solid 2px  rgb(0, 255, 21);
padding:  20px;
font-size: 30;
color: rgb(0, 255, 21);

}

section {
background-color: rgba(0, 0, 0, 0.993);
padding-bottom: 20px;
padding-top: 20px;
display: flex;
justify-content: center
}

.chamada-texto {
    margin-right: 5;
} 
h1 {
    font-size: 30px;
}p{
    font-size: 20px;
}
